aiobotocore==3.8.0
aiohappyeyeballs==2.7.1
aiohttp==3.14.1
aioitertools==0.13.0
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.14.2
async-timeout==5.0.1
attrs==26.1.0
bandit==1.9.4
boolean.py==5.0
botocore==1.43.46
build==1.5.0
CacheControl==0.14.4
certifi==2026.6.17
cfgv==3.5.0
charset-normalizer==3.5.1
contourpy==1.3.2
cycler==0.12.1
cyclonedx-python-lib==11.12.0
-e git+https://github.com/HKUST-QUANT-SOCIETY/data_access.git@afda9f47b76df677893bf4cf516c0f9cc825190c#egg=data_access&subdirectory=../../dataaccess
defusedxml==0.7.1
distlib==0.4.3
duckdb==1.5.4
exceptiongroup==1.3.1
fastapi==0.139.2
filelock==3.31.0
fonttools==4.63.0
frozenlist==1.8.0
fsspec==2026.6.0
googleapis-common-protos==1.75.0
grpcio==1.82.1
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
identify==2.6.19
idna==3.18
iniconfig==2.3.0
Jinja2==3.1.6
jmespath==1.1.0
kiwisolver==1.5.0
license-expression==30.4.4
llvmlite==0.48.0
markdown-it-py==4.2.0
MarkupSafe==3.0.3
matplotlib==3.10.9
mdurl==0.1.2
msgpack==1.2.1
multidict==6.7.1
nodeenv==1.10.0
numba==0.66.0
numpy==2.2.6
opentelemetry-api==1.44.0
opentelemetry-exporter-otlp-proto-common==1.44.0
opentelemetry-exporter-otlp-proto-grpc==1.44.0
opentelemetry-proto==1.44.0
opentelemetry-sdk==1.44.0
opentelemetry-semantic-conventions==0.65b0
packageurl-python==0.17.6
packaging==26.2
pandas==2.3.3
patsy==1.0.2
pillow==12.3.0
pip-api==0.0.34
pip-requirements-parser==32.0.1
pip_audit==2.10.1
platformdirs==4.10.1
pluggy==1.6.0
polars==1.42.1
polars-runtime-32==1.42.1
pre_commit==4.6.0
propcache==0.5.2
protobuf==7.35.1
psutil==7.2.2
py-serializable==2.1.0
py-spy==0.4.2
pyarrow==25.0.0
pydantic==2.13.4
pydantic_core==2.46.4
Pygments==2.20.0
pyparsing==3.3.2
pyproject_hooks==1.2.0
pytest==9.1.1
python-dateutil==2.9.0.post0
python-discovery==1.4.4
pytz==2026.2
PyWavelets==1.8.0
PyYAML==6.0.3
redis==8.0.1
requests==2.34.2
rich==15.0.0
s3fs==2026.6.0
scipy==1.15.3
six==1.17.0
sortedcontainers==2.4.0
sqlglot==30.17.0
starlette==1.3.1
statsmodels==0.14.6
stevedore==5.8.0
tomli==2.4.1
tomli_w==1.2.0
tqdm==4.69.0
typing-inspection==0.4.2
typing_extensions==4.16.0
tzdata==2026.3
urllib3==2.7.0
virtualenv==21.6.1
wrapt==2.2.2
yarl==1.24.2
